html,body{

  background-size: cover;

}


 .img-home{

  width: 100vw;
  height: 100vh;

 }
 
 .footer{

     width: 100%;
     height: 60px;
     background-color:rgb(2, 107, 20);
     text-align: center;
     font-size: larger;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #02040c;
     justify-content: left;
     padding-top: 1.25em;
      margin-top: -4px;
     
 }
 .github-icon img{

  position: absolute;
  bottom:0;
  left: 2%;
  width: 20px;
  
 }
  
 .mail-icon  img{
  max-width: 20px;
  width: 25px;
  position: absolute;
  bottom:0;
  left: 5%;
  
 }

 .home-about-btn{
  position: absolute;
  top: 68%;
  left: 20%;
  padding:5px 25px 5px 25px;
  color: white;
  background-color:rgb(7, 107, 12);
  border-radius: 10px; 
  text-shadow: 2px 2px #137ed6;
 }

.home-contact-btn{
  position: absolute;
  top: 68%;
  left: 30%;
  padding:5px 25px 5px 25px;
  color: white;
  background-color:rgb(7, 107, 12);
  border-radius: 10px; 
  text-shadow: 2px 2px #137ed6;
 }
 .home-about-btn:hover, .home-contact-btn:hover{ 
   background-color:green;
 }

 


 @media only  screen  and (max-width:700px) and (min-width: 480px){

  .img-home{
     width:100vw;
     height:100vh;
     overflow-y: hidden;
  }
 
  .home-contact-btn{
    position: fixed;
    left: 20%;
    padding:2px 10px 2px 10px;
    margin-right: 20px;

   }
   .home-about-btn{
      position: fixed;
      left: 20%;
      padding:2px 15px 2px 15px;
      margin-right: 20px;
      top: 75%;
  
   }
   .mail-icon  img{
   
    position: absolute;

    left: 10%;

   }
 }

 /*nav bar  down  & resposnive navbar down*/

 .sidebar-icon{
  
   display: none;
 }

.navlink .link{

  font-size: 25px;
  
  text-decoration: none;
  color: rgb(9, 238, 104);
  font-family: 'Courier New', Courier, monospace ;
  text-shadow: 3px 2px #060f0a;
  margin: 20px 100px 0 10px;
  position: relative;
  float: right;

}

.navlink img{

  width:60px;
  height:60px;
}
.link:hover{
   background-color: rgb(132, 168, 146);
}
.link:hover:active{
  background-color: rgb(190, 209, 214);

}

.navlink{
  background-color:rgb(23, 31, 23);
  box-shadow: rgb(190, 17, 17);
  height: 60px;

}
.sidebar {
  display:none;
}

.bm-burger-button {
   position: absolute;
  width: 36px;
  height: 30px;
  left: 90%;
  top: 2%;
  background-color: rgb(6, 80, 6);
  border-radius: 30px;
}


.bm-burger-bars {
  background: #2e2727;
}
.menu-item {
  padding: 5px;
  color: rgb(8, 71, 3);
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #8d92aa;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

}

.bm-morph-shape {
  fill: #81b1ae;
}

.bm-item-list {

  padding: 0.8em;
  background-color: rgba(85, 52, 52, 0.233) 
}




@media only screen and (max-width:780px) and (min-width: 480px){
   
    .sidebar {
      display:block
    }
    .navlink .link{
      display: none;
    }

}


.projects{
  display:grid;
  margin: 5em;
}

.project-card{
  float: left;
  margin: 10px;
}
 h6{

  text-align: center;
  width: 200px;
  padding: 0 0 0 7em;
}

.contact{

  margin:  20% 35%;
  display: grid;
  width: 500px;
  background-color: rgb(217, 227, 228);
}

.contact h1{


  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-variant: small-caps;
  margin: 1em;
   
}

input:not(.submit)  {

  margin: 1em;

}

textarea{
 margin: 2%;
}

label:not(.submit){

  margin: 2em;
  font-size: larger;


}

.submit{

  padding:0.3em 1em 0.3em 1em;
  margin: 2em;
  font-size: larger;
  background-color: rgb(144, 194, 144);
   border-radius: 10px;
}



@media only screen and (max-width:760px) and (min-width:480px){
  
 section{
   position: relative;
   right: 230px;
   width: 70%;
  }
  section h1{
     margin-left: 8em;

  }

  .about{
    height: 100vh;
    overflow: hidden;
  }

  .about-container{

        margin: 0 5em 0 -6em;
        position: relative;      
  }

}

@media only screen and (max-width:760px) and (min-width:48px){
 
  .contact{
    
      width: 75vw;
      height:60vh;
      position: relative;
      right: 6em; 
  }
}
@media only screen and (max-width:760px) and (min-width:48px){
 
  .project-card a{
     position: relative;
     top: 240px;
  }
}



















