html,body{
  margin: 0;
  overflow-x: hidden;
  
}

.about{

  height: 70%;
  position: relative;
  width: 100%;
  bottom:3em;
  margin-bottom: 1em;

}


.about-card{
 
   background-color: rgb(16, 42, 65);
   color: aliceblue;
   height:60vh;
   padding-top:25em ;
   padding-left: 2em; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.about-card p{
 
  padding-left: 22em;
  justify-content: center;
  width:50%;
  font-size: larger;
  font-weight: 500;
  color: rgb(253, 253, 253);
  font-family: monospace;
}

.self-img{
  width:22%;
  height:30%;
  position: absolute;;
  left:40%;
  top: 5em;
  border: 2px solid rgb(199, 172, 167);
  border-radius: 400px;
  background-color: rgb(243, 243, 243);
  
  
}

.scroll-logo{

  width:40px ;
  height:30px;
  padding-top:0.5em ;
  margin-left:50% ;
  margin-top: 1em;
  background: #ebeef3;
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(134, 136, 145)

}

.div-scroll-about{
  height: 80px;
  background-color: rgba(196, 191, 189, 0.096);
  position: relative;
  bottom:7.5em;
  width: 100%;

}

.contact{
  background-color: rgb(13, 47, 70);
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 130vh;
  margin-top: -10em;
}
.contact-card{
  display: grid;
  width: 500px;
  height: 60vh;
  background-color: rgb(69, 98, 116);
  position: relative;;
  left: 30em;
  top: 7em;
  border-radius: 20px;
}

.contact h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-variant: small-caps;
  margin: 1em;
}

.contact-bar{

  background-color: rgb(69, 98, 116);
  height: 150px;
  margin-top: 150px;

}

.contact-bar  li{
  float: left;
  margin-left:5em;
  padding-left: 20em;
  margin-top:2em;
  list-style: none;
  color: #e4eeeec7;
}


.scroll-logo-2{
  width:100% ;
  height:60px;
  background-color: rgb(13, 47, 70);
}

.img-scroll-contact{

  width:40px ;
  height:30px;
  position: relative;
  right: 22em;
  top:10px;
  background: #ebeef3;
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(134, 136, 145)
  
}


.work{

  background-color: rgb(108, 144, 155);
  position: relative;
  bottom: 17em;
  width: 100vw;
  height: 150vh;
  
}

.projects{
  background-color: rgb(42, 90, 129);
  color: aliceblue;
  width: 80vw;
  margin-bottom:10em ;
  position: relative;
  left: 3em;
}

.scroll-logo-3{
  width:30px ;
  height:30px;
  position:relative;
  bottom:-23px;
  left:700px;
  background: #ebeef3;
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(134, 136, 145)
  
}

.div-scroll-work{

  height: 5em;
  background-color:rgb(13, 47, 70)

}


 .img-home{

  width: 100vw;
  height: 100vh;
  margin-bottom: -3em;
  background-size: ;

 }

 .container-home{
     overflow: hidden;
}
 
 .footer{
     width: 100%;
     height: 50px;
     background-color:rgb(9, 12, 29);
     text-align: center;
     font-size: larger;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #e7ecff;
     justify-content: left;
     padding: 3em 0 0 0; 
     margin-top:-16em ;  
 }

 .github-icon img{
  position: relative;
  bottom:220px;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgb(231, 231, 235);

 }
  
 .mail-icon  img{
  
  position: relative;
  bottom:275px;
  left: 45%;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgb(231, 231, 235);

 }

 .linkedin-icon img {

  position: relative;
  bottom:250px;
  left: 55%;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgb(231, 231, 235);

 }


 


 @media only  screen  and (max-width:800px) and (min-width: 480px){

        .img-home{
          width:100vw;
        }



   
  
 }

 /*nav bar  down  & resposnive navbar down*/

 .sidebar-icon{
  
   display: none;
 }

 .link{

  font-size: 15px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace ;
  text-shadow: 3px 2px #060f0a;
  margin: 20px 100px 0 25px;
  float: right;

}

.navlink img{

  width:60px;
  height:60px;
}
.link:hover{
   background-color: rgb(132, 168, 146);
}
.link:hover:active{
  background-color: rgb(190, 209, 214);

}

.navlink{
  
  box-shadow: rgb(190, 17, 17);
  position: absolute;
  margin: 2em;
  left: 22em;

}
.sidebar {
  display:none;
}

.bm-burger-button {
   position: absolute;
  width: 36px;
  height: 30px;
  left: 90%;
  top: 2%;
  background-color: rgb(6, 80, 6);
  border-radius: 30px;
}


.bm-burger-bars {
  background: #2e2727;
}
.menu-item {
  padding: 5px;
  color: rgb(8, 71, 3);
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #8d92aa;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

}

.bm-morph-shape {
  fill: #81b1ae;
}

.bm-item-list {

  padding: 0.8em;
  background-color: rgba(85, 52, 52, 0.233) 
}




@media only screen and (max-width:800px) and (min-width: 480px){
   
    .sidebar {
      display:block
    }
    .navlink .link{
      display: none;
    }
   

}


.projects{
  display:grid;
  margin: 5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgb(24, 24, 26);

}

.project-card{
  float: left;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgb(143, 161, 173), 0 6px 20px 0 rgb(24, 24, 26);


}
 h6{
  text-align: center;
  width: 200px;
  padding: 0 0 0 7em;
}


input:not(.submit)  {

  margin: 1em;


}

textarea{
 margin: 2%;
 padding-left: 4em;
}

label:not(.submit){

  margin: 2em;
  font-size: larger;


}

.submit{

  padding:0.3em 1em 0.3em 1em;
  margin: 1.5em 2em;
  font-size: larger;
  background-color: #f1f1f1;
  color: #2c1a0f;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  border-radius: 5px;

  
}



@media only screen and (max-width:800px) and (min-width:480px){

  .about{
 
    height: 100vh;
    width: 100vw;
    margin-bottom: 1em;
    overflow: hidden;

  }
 
    .self-img{
     width:25vw;
     height:25vh;
     position: absolute;;
     left:35%;
     top: 1em;
     border: 2px solid rgb(199, 172, 167);
     border-radius: 200px;
     background-color: rgb(243, 243, 243);
     
   }
  
    .about-card{
  
     background-color: rgb(16, 42, 65);
     color: aliceblue;
     padding-top:12em ;
     padding-left: 1em; 
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
   }
   .about-card p{
   
    padding-left: 7em;
    justify-content: center;
    width:80vw;
    height: 40vh;
    font-size: larger;
    font-weight: 500;
    color: rgb(253, 253, 253);
    font-family: monospace;
  }
    
    
    .div-scroll-about{

      position: relative;
      bottom:4em;
      
    }
   
   
}

@media only screen and (max-width:800px) and (min-width:480px){
 

  .contact{
    background-color: rgb(13, 47, 70);
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 130vh;
    margin-top: -12em;
  }
  .contact-card{
    position: relative;;
    left: 10em;
    top: 5em;
  }
  
  .contact h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    margin: 1em;
  }
  
  .contact-bar  li:first-child{
  
    position: relative;
    right: 16em;
  
  
  }
  .contact-bar  li:last-child{
  
    position: relative;
    bottom: 10em;
    left: 4em;
  
  
  }
  
 
  .img-scroll-contact{
  
  
    position: relative;
    right: 15em;
    
  }
  

 .mail-icon  img{
 
  position: relative;
  bottom: 280px;
  left: 42%;
  
 }
}
@media only screen and (max-width:800px) and (min-width:480px){
 


  .work{
    height: 220vh;
    
  }
.projects{
  background-color: rgb(42, 90, 129);
  color: aliceblue;
  width: 110vw;
  margin-bottom:10em ;
  position: relative;
  left: -2em;
  height: 100vh;
}

.scroll-logo-3{
  position:relative;
  bottom:-23px;
  left:350px;
  
}


.footer{

  text-align: center;
  font-size: larger;
  justify-content: left;
  padding: 3em 0 0 0; 
}

.pic{
  position: relative;
  right: 20em;
}


}


















